{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Authenticate/Login/styles/login_style.css' %}">
    <style>
        body {
            background-image: url("{% static 'Authenticate/Login/img/login background.jpg' %}");
        }
    </style>
</head>
<body>
    <div class="content">
        <h1 class="heading-section">Task Manager</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="page_return" value="{{page_return}}">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span> -->
            <!-- </div> -->
            <input type="submit" value="Login"> {% if error %}
            <p class="error_message" style="color: #ff1d1d;">{{error}}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>